<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <header id="headermember">
            <a class="navbar-brand" href="/logout">
                Logout
            </a>
            <h1 class="display-4 text-center">The Neighborhood</h1>
            <p class="lead text-center">Some information regarding Neighborhood's Services and what users can expect
                from the site. </p>
        </header>
    </div>
</div>

<main id="memberspage">

    

    <div class="container">
        <div class="row">
            <div class="col-sm-2" id="categoryBlock">
                <div class="btn-group-vertical">
                    <input type="input" class="form-control" id="categoryInput" placeholder="New Category">
                    <button type="submit" class="btn btn-primary btn-lg btn-block" id="addCategory">Add
                        Category</button>
                    <br>
                    <div id="categoryList" class="btn-group-vertical">
                    </div>
                    
                    
                </div>
            </div>
            <div class="col-sm">
                <div class="card-deck">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="card-title text-center">Profile</h1>
                            <br>
                            <p class="card-text text-dark" id="nameUser">Name:</p>
                            <p class="card-text text-dark" id="emailUser">Email:</p>
                            <p class="card-text text-dark" id="bioUser">Bio:</p>
                            <p class="card-text text-dark" id="idUser">id:</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card-deck">
                    <div class="card">
                        <h1 class="card-title text-center">My Neighborhood</h1>
                        <div> Select a category to connect with others who share the same interest!</div>
                        <div class="card-body">
                            <br>
                            <!-- Use this section for group info     -->
                            <div>
                                <h3 class="card-text text-dark" id="categoryHeader"></h3>
                                <div id="userGroups">
                                    {{!-- appended user data --}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script type="text/javascript" src="js/members.js"></script>