<main id="memberspage">
<div class="jumbotron jumbotron-fluid" id="headermember">
    <div class="container">
        <header>
            <div id="logoutBox">
                <a id="logout" href="/logout">LOGOUT</a>
            </div>
            <h1 class="display-4 text-center text-dark" id="headerTitle">The Neighborhood</h1>
            <h2 class="lead text-center text-success" id="slogan">A life with others is a life worthwhile </h2>
        </header>
    </div>
</div>

    <div class="container">
        <div class="row">
            <div class="col-sm-2" id="categoryBlock">
                <div class="btn-group-vertical" id="categoryInputArea">
                    <input type="input" class="form-control" id="categoryInput" placeholder="New Category">
                    <button type="submit" class="btn btn-primary btn-lg btn-block" id="addCategory">Add Category</button>
                    <br>
                    <div class="card" id="categoryCard" > 
                        <h2 class="card-title text-center text-white" id="listHeader">Category List</h2>
                        <div id="categoryList" class="card-body btn-group-vertical"></div>
                    </div>   
                </div>
            </div>
            <div class="col-sm" id="profileBlock">
                <div class="card-deck">
                    <div class="card" id="profileCard">
                        <h1 class="card-title text-center text-white">Profile</h1>
                        <br>
                        <div class="card-body" id="profileSection">
                            <p class="card-text text-dark" id="nameUser">Name:</p>
                            <p class="card-text text-dark" id="emailUser">Email:</p>
                            <p class="card-text text-dark" id="bioUser">Bio:</p>
                            <p class="card-text text-white" id="idUser"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm" id="neighborhoodBlock">
                <div class="card-deck">
                    <div class="card" id="neighborhoodCard">
                        <h1 class="card-title text-center text-white">My Neighborhood</h1>
                        <div class="card-body" id="neighborhoodSection">
                            <br>
                            <!-- Use this section for group info     -->
                            <div>
                                <h3 class="card-text text-dark" id="categoryHeader"></h3>
                                <br>
                                <div id="userGroups">
                                    {{!-- appended user data --}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h1 id="instruction" class="instruction text-white text-center"> Select a category to connect with others who share the same interest!</h1>
        </div>
    </div>
</main>
<script type="text/javascript" src="js/members.js"></script>