form.signup,
form.login {
  margin-top: 50px;
}

#searchBtn{
  width: 24%;
  margin-left: 10px;
  height: 20px;
}

#searchBar{
  width: 24%;
  margin-left: 10px;
}

#categoryCol{
  margin-top: 6%;
  padding: 20%;
}

.card-body{
  margin-bottom: 10%;
}

#currentMem{
  padding: 40px;
  /* margin-bottom: 100% */
}

.card{
  margin-bottom: 80%;
}
/* .navBar{
  align-content: center;
} */

 p{
    font-size: 20px;
    color:white
 }

 body{
   background-image: url("smartphone-720684_1920.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-color: cadetblue;
 }

 label {

  color:black
 }