form.signup,
form.login {
  margin-top: 50px;
}

#searchBtn{
  width: 24%;
  margin-left: 10px;
  height: 20px;
}

#searchBar{
  width: 24%;
  margin-left: 10px;
}

#categoryCol{
  margin-top: 6%;
  padding: 20%;
  
}
/* #addCategory{
  background-color:white;
} */

#categoryBlock {
  min-width:fit-content;
}

#currentMem{
  padding: 40px;
  /* margin-bottom: 100% */
}

.card{
  margin-bottom: 80%;
}
/* .navBar{
  align-content: center;
} */


 p{
    font-size: 20px;
    color:white
 }

.accessbody{
  background-image: url("smartphone-720684_1920.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   
 }

#memberspage{
  background-image: url("headerpic.jpg");
  background-size:100% 100%;
  margin: 10px;
  background-repeat: no-repeat;
  
}

#headermember{
  background-image: url("wood.jpg");
  background-size: cover;
}

label {
  color:black;
 }

.categoryButton{
  background-color: white;
}
 


 /* Scroll bar for category list in case it is overflowing, need to create a card to hold categories for boundaries */
 
 /* #categoryList {
  overflow-y: scroll;
  height: 1000%;
} */
#info{
  font-size: 20px;
  
}