form.signup,
form.login {
  margin-top: 50px;
}

#searchBtn{
  width: 24%;
  margin-left: 10px;
  height: 20px;
}

#searchBar{
  width: 24%;
  margin-left: 10px;
}

#categoryCol{
  margin-top: 15%;
  

}
